<p>
  <mat-vertical-stepper linear>
    <mat-step [completed]="step1Completed()">
      <ng-template matStepLabel>Load Swagger</ng-template>
      <div>
        <mat-form-field style="width: 30em">
          <input #url matInput type="url" placeholder="Swagger URL" required>
          <mat-spinner matSuffix *ngIf="swaggerLoading" mode="indeterminate" diameter="20"></mat-spinner>
        </mat-form-field>
        <button mat-stroked-button matSuffix (click)="parseSwagger(url.value)">Load</button>
        <div style="color: red">{{parseResult != null ? parseResult.errors : ""}}</div>
      </div>

      <div>
        <button mat-stroked-button matStepperNext [disabled]="!step1Completed()">Next</button>
      </div>

    </mat-step>

    <mat-step [completed]="step2Complete()">
      <ng-template matStepLabel>Choose Path</ng-template>
      <div>
        <mat-form-field>
          <mat-select placeholder="Path" [(ngModel)]="selectedPath">
            <mat-option *ngFor="let p of parseResult?.paths" [value]="p">
              {{p.path}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Method" [(ngModel)]="selectedMethod">
            <mat-option *ngFor="let m of selectedPath?.methods" [value]="m">
              {{m}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext [disabled]="!step2Complete()">Next</button>
      </div>
    </mat-step>

    <mat-step [completed]="step3Complete()">
      <ng-template matStepLabel>Request JSON</ng-template>
      <div>
        <mat-form-field>
          <textarea matInput cdkTextareaAutosize placeholder="Request JSON" [(ngModel)]="requestJson"></textarea>
        </mat-form-field>
      </div>

      <div>
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext [disabled]="!step3Complete()">Next</button>
      </div>
    </mat-step>

    <mat-step [completed]="step4Complete()">
      <ng-template matStepLabel>Response JSON</ng-template>
      <div>
        <mat-form-field>
          <textarea matInput cdkTextareaAutosize placeholder="Response JSON" [(ngModel)]="responseJson"></textarea>
        </mat-form-field>
      </div>

      <div>
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button mat-stroked-button matStepperNext [disabled]="!step4Complete()">Next</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Validate</ng-template>
      <div>
        <b>Path:</b> {{selectedMethod}} {{selectedPath?.path}}
        <button mat-stroked-button (click)="validateSwagger(url.value)">Validate</button>
        <mat-spinner matSuffix *ngIf="validating" mode="indeterminate" diameter="20"></mat-spinner>
        <div>
          <span style="white-space: pre-line">
          {{validationMessages}}
          </span>
        </div>

      </div>
    </mat-step>

  </mat-vertical-stepper>
</p>
